[Unit]
Description=Fuel Node Service
After=network.target

[Service]
User=root
ExecStart=/root/.fuelup/bin/fuel-core run \
  --service-name {{ service_name }} \
  --keypair {{ p2p_secret.stdout }} \
  --relayer {{ eth_rpc_endpoint }} \
  --ip 0.0.0.0 --port 4001 --peering-port 30333 \
  --db-path {{ db_path }} \
  --chain {{ chain_config_path }} \
  --utxo-validation --poa-instant false --enable-p2p \
  --min-gas-price 1 --max-block-size 18874368  --max-transmit-size 18874368 \
  --reserved-nodes /dns4/p2p-beta-5.fuel.network/tcp/30333/p2p/16Uiu2HAmSMqLSibvGCvg8EFLrpnmrXw1GZ2ADX3U2c9ttQSvFtZX,/dns4/p2p-beta-5.fuel.network/tcp/30334/p2p/16Uiu2HAmVUHZ3Yimoh4fBbFqAb3AC4QR1cyo8bUF4qyi8eiUjpVP \
  --sync-header-batch-size 100 \
  --enable-relayer \
  --relayer-v2-listening-contracts 0x557c5cE22F877d975C2cB13D0a961a182d740fD5 \
  --relayer-da-deploy-height 4867877 \
  --relayer-log-page-size 2000
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
